<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Gagan, Chordia, Gagan Chordia, GC, Gagan GV, gagan__gv, gagan-gv, GV, gv, gagan, chordia, gagan chordia, gagan-chordia">
        <meta name="description" content="Portfolio of a developer and a UI/UX designer, Gagan Chordia. 2023">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" crossorigin="anonymous"/>
        <link rel="shortcut icon" href="/assets/images/Icon.png" type="image/x-icon">
        <title>Gagan Chordia</title>
        <link rel="stylesheet" href="/assets/style/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Syne&display=swap" rel="stylesheet">
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-12LYP4EX9Y"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
              dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-12LYP4EX9Y');
        </script>
    </head>
    <body>

        <div id="app" v-cloak>
            <!--Loader Starts-->
            <div class="loader"></div>
            <!--Loader Ends-->

            <!--Nav Bar Starts-->
            <nav id="nav" class="nav">
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fa-solid fa-bars-staggered"></i>
                </label>
                <label class="logo"><img src="/assets/images/Logo.png" alt="Logo"></label>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="https://gaganchordia.medium.com/" target="_blank">Blogs</a></li>
                    <li><a href="#contact">Contact Me</a></li>
                </ul>
            </nav>
            <!--Nav Bar Ends-->

            <!--Landing Starts-->
            <main class="landing" id="landing">
                <section class="landingDets">
                    <section id="photo" class="photo" oncontextmenu="return false">
                        <img v-bind:src="landing" alt="My Photo">
                    </section>
                    <section class="landDets">
                        <h1>Gagan <br/>Chordia</h1>
                        <p>
                            <a href="https://github.com/gagan-gv" title="GitHub" target="_blank" rel="noopener noreferrer" class="fa-brands fa-github"></a>
                            <a href="https://www.behance.net/gaganchordia" title="Behance" target="_blank" rel="noopener noreferrer" class="fa-brands fa-behance"></a>
                            <a href="./assets/resume/Gagan Chordia - Resume.pdf" title="Download Resume" target="_blank" download rel="noopener noreferrer" class="fa-solid fa-cloud-arrow-down"></a>
                        </p>
                    </section>
                </section>
                <p><a href="#about" class="fa-regular fa-hand-point-down"></a></p>
            </main>
            <!--Landing Ends-->

            <!--About Starts-->
            <article id="about" class="about">
                <h2>About</h2>
                <section class="content">
                    <section class="aboutContent" id="aboutContent">
                        {{ about }}
                    </section>
                    <section class="aboutImage" id="aboutImage" oncontextmenu="return false">
                        <img v-bind:src="aboutImage" alt="My Photo">
                    </section>
                </section>
                <section class="time">
                    <section id="exp" class="exp">
                        <h3>Experience</h3>
                        <section class="timeline-area">
                            <section class="timeline" v-for="exp in experience">
                                <h4>{{ exp.designation }}</h4>
                                <p>{{ exp.company }}</p>
                                <p>{{ exp.period }}</p>
                                <p>
                                    <ul v-for="work in exp.works">
                                        <li>{{ work.work }}</li>
                                    </ul>
                                </p>
                            </section>
                        </section>
                    </section>
                </section>
            </article>
            <!--About Ends-->

            <!--Skills Starts-->
            <article class="skills" id="skills">
                <h2>Skills</h2>
                <section class="content">
                    <figure v-for="skill in skills">
                        <img :src="skill.image" alt="skill.skill">
                        <figcaption>{{ skill.skill }}</figcaption>
                    </figure>
                </section>
            </article>
            <!--Skills Ends-->

            <!--Project Starts-->
            <article class="project" id="projects">
                <h2>Projects</h2>
                <section class="content">
                    <div class="box" v-for="proj in projects">
                        <h4><i class="fa-regular fa-folder-open"></i><a :href="proj.link" target="_blank" :class="whichIcon(proj.linkTo)" rel="noopener noreferrer"></a></h4>
                        <h3>{{ proj.title }}</h3>
                        <p>{{ proj.desc }}</p>
                    </div>
                </section>
            </article>
            <!--Project Ends-->

            <!--Footer Starts-->
            <footer class="contact" id="contact">
                <p class="big-text">Let's Collaborate</p>
                <p class="small-text">and build great things together</p>
                <p class="mail">
                    <a href="mailto:gaganchordia@proton.me">
                        <button>Get in Touch</button>
                    </a>
                </p>
                <p class="socials">
                    <a href="https://www.linkedin.com/in/gagan-chordia/" target="_blank" rel="noopener noreferrer" class="fa-brands fa-linkedin-in"></a>
                    <a href="https://instagram.com/gagan-gv/" target="_blank" rel="noopener noreferrer" class="fa-brands fa-instagram"></a>
                    <a href="https://www.facebook.com/gv.chordia/" target="_blank" rel="noopener noreferrer" class="fa-brands fa-facebook"></a>
                </p>
                <p class="copyright">&copy; Gagan Chordia 2023</p>
            </footer>
            <!--Footer Ends-->

        </div>
        
        <script src="https://unpkg.com/vue@next/dist/vue.global.prod.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/assets/js/data.js"></script>
        <script src="/assets/js/index.js"></script>
    </body>
</html>