* {
    margin: 0;
    padding: 0;
    box-shadow: none;
    scroll-behavior: smooth;
    transition: all .5s;
}

body {
    background-color: #f0f0f0;
    color: #111;
    overflow-x: hidden;
}

/*Nav Bar Starts*/

#nav {
    background: #f0f0f0;
    position: fixed;
    height: 70px;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #111;
    font-family: 'Dongle', sans-serif;
}
.logo {
    line-height: 50px;
    padding: 0 50px;
}

.logo>img {
    width: 30px;
    height: 60px;
    margin-top: 10px;
}

nav>ul {
    float: right;
    margin-right: 20px;
}
  
nav>ul>li {
    display: inline-block;
    line-height: 70px;
    margin: 0 15px;
    transition: all 0.5s ease;
}
  
nav>ul>li>a,
nav>ul>li>a:visited,
nav>ul>li>a:active {
    color: #111;
    font-size: 36px;
    text-decoration: none;
    display: block;
    position: relative;
}

nav>ul>li>a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.075em;
    background-color: #111;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

nav>ul>li>a:hover::after {
    opacity: 1;
    transform: scale(1) translate3d(0, -0.6em, 0);
}

.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
  
#check{
    display: none;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 540px){
    
    #nav{
        justify-content: space-between;
    }
    .logo{
        padding: 0 30px;
    }
    .logo>img{
        margin-top: 10px;
    }
    #nav>ul>li>a{
        font-size: 32px;
    }
    .checkbtn{
        display: block;
        padding: 0 30px;
        margin-top: 15px;
    }
    #nav>ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #f0f0f0;
        padding-bottom: 15px;
        top: 72px;
        left: -540px;
        text-align: center;
        transition: all .5s;
    }
    #nav>ul>li{
        display: block;
    }
    #check:checked~ul{
        left: 0;
    }
    nav>ul>li>a:hover::after {
        opacity: 0;
        transform: scale(0);
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px){
    
    #nav{
        justify-content: space-between;
    }
    .logo{
        padding: 0 30px;
    }
    .logo>img{
        margin-top: 10px;
    }
    #nav>ul>li>a{
        font-size: 32px;
    }
    .checkbtn{
        display: block;
        padding: 0 30px;
        margin-top: 10px;
    }
    #nav>ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #f0f0f0;
        top: 72px;
        left: -1024px;
        text-align: center;
        transition: all .5s;
    }
    #nav>ul>li{
        display: block;
    }
    #check:checked~ul{
        left: 0;
    }
    nav>ul>li>a:hover::after {
        opacity: 0;
        transform: scale(0);
    }
}

/*Nav Bar ends*/

/*Landing Starts*/

.landing>.landingDets {
    width: 100%;
    height: 85vh;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.landing>.landingDets>.photo>img {
    width: 350px;
    height: 450px;
    filter: grayscale(0.75);
}

.landing>.landingDets>.photo {
    border-radius: 300px 300px 2px 2px;
    overflow: hidden;
}

.landing>.landingDets>.photo::after {
    content: '';
    position: absolute;
    border: 2px solid #111;
    height: 450px;
    width: 350px;
    transform: translate(-330px, -20px);
    z-index: -999;
    border-radius: 300px 300px 2px 2px;
}

.landing>.landingDets>.landDets>h1 {
    font-family: 'Syne', sans-serif;
    font-size: 72px;
    font-weight: 400;
}

.landing>.landingDets>.landDets>p {
    padding: 10px 0;
}

.landing>.landingDets>.landDets>p>a,
.landing>.landingDets>.landDets>p>a:visited,
.landing>.landingDets>.landDets>p>a:active {
    color: #111;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    border: 2px solid #111;
    border-radius: 50%;
}

.landing>.landingDets>.landDets>p>a:not(:last-child) {
    margin-right: 25px;
}

.landing>.landingDets>.landDets>p>a:hover {
    border: 2px dashed #111;
    filter: drop-shadow(0 0 2px #111);
}

.landing>p {
    text-align: center;
    position: relative;
    bottom: 0;
    font-size: 25px;
    margin-top: 50px;
    animation: move 1s infinite;
}

@keyframes move {
    from, to {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.landing>p>a,
.landing>p>a:visited,
.landing>p>a:active {
    color: #111;
    text-decoration: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .landing>.landingDets {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .landing>.landingDets>.landDets>h1 {
        margin-top: -50px;
    }
    .landing>.landingDets>.landDets>h1>br {
        display: none;
    }
    .landing>.landingDets>.landDets>p {
        text-align: center;
    }
    .landing>p {
        margin-top: 70px;
    }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .landing>.landingDets {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .landing>.landingDets>.landDets>h1 {
        font-size: 48px;
        text-align: center;
        margin-top: -30px;
    }
    .landing>.landingDets>.landDets>h1>br {
        display: none;
    }
    .landing>.landingDets>.landDets>p {
        text-align: center;
    }
    .landing>.landingDets>.landDets>p>a {
        font-size: 20px;
    }
    .landing>p {
        margin-top: 50px;
    }
    .landing>.landingDets>.photo>img,
    .landing>.landingDets>.photo::after {
        width: 300px;
        height: 400px;
    }
    .landing>.landingDets>.photo::after {
        transform: translate(-290px, -20px);
    }
}

/*Landing Ends*/

/*About Starts*/
.about {
    margin: 50px 0;
}

h2 {
    text-align: center;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin: 25px 0;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.about>.content>.aboutImage {
    overflow: hidden;
    border-radius: 2px;
}

.about>.content>.aboutImage>img {
    width: 250px;
    height: 250px;
    filter: grayscale(0.75);
    transform: rotateZ(45deg);
}

.about>.content>.aboutImage>img:hover {
    transform: rotateZ(0) scale(2) translateX(30px);
    filter: grayscale(0.4);
}

.about>.content>.aboutContent {
    width: 30%;
    font-family: 'Dongle', sans-serif;
    font-size: 32px;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .content {
        flex-direction: column-reverse;
    }
    .about>.content>.aboutContent {
        padding: 20px 0 0 0;
        width: 80%;
        text-align: center;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .about>.content>.aboutContent {
        width: 50%;
    }
}

/* Experience, Education and Organization Starts*/

.time {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 50px 0;
    flex-wrap: wrap;
}

.time h3 {
    font-size: 28px;
    font-family: 'Syne', sans-serif;
    text-align: center;
    margin: 20px 0;
}

.timeline-area{
    margin: 10px 90px;
    border-left: 3px solid #1b1b1e;
    width: 40%;
    padding: 0 20px 0 20px;
    width: 300px;
}

.timeline-area .timeline{
    padding: 10px 20px;
    line-height: 1.7;
    position: relative;
    height: calc(max-content + 20px);
}

.timeline-area .timeline::before{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f0f0f0;
    border: 2px solid #111;
    position: absolute;
    top: 15px;
    left: -38.5px;
}

.timeline-area .timeline:hover::before {
    background: #111;
}

.timeline-area .timeline h4{
    font-size: 24px;
    padding: auto;
    font-family: 'Syne', sans-serif;
}

.timeline-area .timeline p,
.timeline-area .timeline li{
    font-size: 28px;
    line-height: 32px;
    font-family: 'Dongle', sans-serif;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px){
    .time {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    .timeline-area{
        width: 80%;
        margin: 10px auto;
    }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .time {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    .timeline-area{
        width: 60%;
        margin: 10px auto;
    }
}

/* Experience, Education and Organization Ends*/

/*Skill Starts*/

.skills .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
}

.skills figure {
    margin: 25px 80px;
    font-family: 'Dongle', sans-serif;
    text-align: center;
    font-size: 32px;
    color: #111;
}

.skills figure figcaption {
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.skills figure:hover img {
    transform: rotateY(360deg);
}

.skills figure:hover figcaption {
    opacity: 1;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .skills .content {
        flex-direction: column;
        width: 100%;
        flex-wrap: nowrap;
    }
    .skills figure figcaption {
        opacity: 1;
    }
}

/*Skill Ends*/

/*Project Starts*/
.project .content {
    width: 70%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project .content .box {
    width: 300px;
    height: 225px;
    padding: 15px 20px;
    margin: 15px 5px;
    border: 2px solid #111;
    border-radius: 3px;
    color: #111;
}

.project .content .box h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.project .content .box h4 i {
    font-size: 32px;
}

.project .content .box h4 a,
.project .content .box h4 a:visited,
.project .content .box h4 a:active {
    font-size: 24px;
    text-decoration: none;
    color: #111;
    opacity: 0.75;
}

.project .content .box h4 a:hover {
    opacity: 1;
}

.project .content .box h3 {
    position: relative;
    top: 20px;
    font-size: 32px;
    font-family: 'Syne', sans-serif;
}

.project .content .box p {
    position: relative;
    top: 30px;
    font-size: 32px;
    font-family: 'Dongle', sans-serif;
    line-height: 26px;
}

.project .content .box h3::after {
    content : "";
    position : absolute;
    width : 100%;
    height : 3px;
    background-color: #1b1b1e;
    bottom: 0;
    left: 0;
    transform : scaleX(0);
    transform-origin: bottom left;
    transition : transform 0.25s linear;
}

.project .content .box:hover h3::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.project .content .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #111;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .project .content {
        width: 100%;
    }
}

/*Project Ends*/

/*Contact Starts*/

.contact {
    border-top: 2px solid #111;
    width: 100%;
    padding: 25px 0;
    position: relative;
}

.contact p,
.contact p button {
    text-align: center;
    font-family: 'Syne', sans-serif;
}

.contact .big-text {
    font-size: 60px;
    font-weight: 500;
}

.contact .small-text {
    font-weight: 400;
    font-size: 52px;
}

.contact .mail button {
    padding: 10px 15px;
    font-size: 24px;
    margin: 15px 0;
    border: 2px solid #111;
    border-radius: 2px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.contact .mail button:hover {
    box-shadow: 0 0 15px #111;
}

.contact .socials a,
.contact .socials a:visited,
.contact .socials a:active {
    color: #111;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    border: 2px solid #111;
    border-radius: 50%;
}

.contact .socials a:hover {
    border: 2px dashed #111;
    filter: drop-shadow(0 0 2px #111);
}

.contact .socials a:not(:last-child) {
    margin: 10px 25px 10px 0;
}

.contact .copyright {
    font-family: 'Dongle', sans-serif;
    font-size: 32px;
    line-height: 28px;
    margin: 10px 0;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 540px) {
    .contact .big-text {
        font-size: 48px;
    }
    .contact .small-text {
        font-size: 40px;
        padding: 0 10px;
    }
}
/*Footer ends*/

/*Cloak & Loader starts*/
[v-cloak] > *,
.loader {
    visibility: hidden;
}

[v-cloak]::before,
.loader::before {
    content: url(../images/Icon.png);
    height: 100vh;
    position: absolute;
    top: calc(45vh - 75px);
    left: calc(50vw - 75px);
    z-index: 999999999;
    background-color: #f0f0f0;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 1023px){
    [v-cloak]::before,
    .loader::before {
        left: calc(42vw - 75px);
    }
}
/*Cloak & Loader Ends*/

/*Scroll Bar*/
::-webkit-scrollbar {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background: #111;
    border-radius: 5px;
}
